.header {
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;

  .logo-container {
    height: 100%;
    width: 5em;
    padding: 1.5em;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .option {
      padding: 0.6em 1em;
  }
}
